* {
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
    font-size: 22px;
    color: white;
    text-align: justify;
}

body {
    background-image: url(../img/rty5.jpg);
    background-size: cover;
    background-attachment: fixed;
}

h1 {
    max-width: 90%;
    color: white;
    text-align: center;
    margin: 20px auto;
    font-family: Papyrus;
    background-color: transparent;
    padding: 20px;
    border-radius: 10px;
}

.container{
    max-width: 90%;
    margin: 20px auto;
    padding: 20px;
}

.bloque {
    background-color: transparent;
    border-radius: 15px;
    margin: 0 auto;
    padding: 0.5rem;
}

.imgVentaja-R, .imgVentaja-L {
    max-width: 100%;
    height: auto;
    max-height: 350px;
    object-fit: cover;
    border-radius: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 18px 25px;
    background: #7d2ae8;
    border: 2px solid #fff;
    border-radius: 8px;
    box-shadow: 0 0 20px #7d2ae8;
    font-size: 1.2rem;
    color: #fff;
    text-decoration: none;
    cursor: pointer;
}

.btn-container {
    display: flex;
    justify-content: center;
    margin: 40px 0;
}
